BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

BreakBeforeBraces: Attach

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty

AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true

PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

IncludeBlocks: Preserve
SortIncludes: CaseSensitive

AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None